<button mat-dialog-close class="button-icon">
  <mat-icon svgIcon="back"></mat-icon>
</button>
<form [formGroup]="fg" (ngSubmit)="onSubmit()" *ngIf="surveys.length > 0">
  <app-survey *ngFor="let survey of surveys" [survey]="survey" [fg]="fg"></app-survey>

  <button id="submit" class="button" type="submit">
    <span>Valider</span>
    <!--<div class="loader">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>-->
  </button>
</form>
